body {
  //background-size: contain;
}

img {
  display: block;
  width: 100vw;
  height: 32vh;
  object-fit: cover;
}

.effect {
  display: block;
  overflow: hidden;
//  -webkit-filter: blur(4px) greyscale(50%);
//  filter: blur(15px);
//  -webkit-filter: grayscale(50px);
//  filter: grayscale(50px);
//  left: 100%;
  z-index: -1;
  top: 0;
}

ul li{
  list-style-type: none;
}

.caption{
  padding: 20px;
  margin: -40px 5% 10% 5%;
  background-color: #f5f5f5;
}